name: build test

on:
    pull_request:
        types:
            - opened
            - synchronize

jobs:
    build-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2
              env:
                  NODE_NO_WARNINGS=1: yarn
                  ref: ${{ github.head_ref }}

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 18

            - name: 패키지를 빌드하고 있어요.
              run: yarn build
